*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 15px;
}
body{
	margin: 0;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul{
	list-style: none;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
}
.row::after {
	content: '';
	clear: both;
	display: block;
}
.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1{
	width: 8.333333333%
}
.col-2{
	width: 16.666666667%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.333333333%
}
.col-5{
	width: 41.666666667%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.333333333%
}
.col-8{
	width: 66.666666667%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.333333333%
}
.col-11{
	width: 91.666666667%
}
.col-12{
	width: 100%
}
/* Grid layout end */
/* Default classes start */
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
    text-align: left;
}

.text-uppercase {
    text-transform: uppercase;
}

.bg-black {
	background-color: #111;
}


/* Default classes end */
/* Default component start */
/* Header start */
#header {
    overflow: hidden;
	padding: 25px 0;
	font-size: .73rem;
	color: #fefefe;
	letter-spacing: .3em;
    position: fixed;
    left: 0;
    top: 0;
	width: 100%;
	z-index: 99;
}

#header .container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 10px;
} 

#header .logo {
    float: left;
}

#header .logo img {
	height: 1.67rem;	
}

#header .header-nav {
	float: right;
	margin-top: .93rem;
}

#header .header-nav li {
    float: left;
}

#header .header-nav li + li {
    margin-left: 35px;
}
/* Header end */
/* Inner start */
.inner {
    background: url('../img/inner-bg.jpg') no-repeat center / cover;
    height: 100vh;
    padding: 85px 0 15px;
}

.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -4px;
}

.inner-content {
	/* TBD */
    max-width: 960px;
    /* font-family: 'debbyscript', sans-serif; */
	color: #fefefe;
	line-height: 4.17rem;
    display: inline-block;
    vertical-align: middle;
}

.inner-title h1 {
    font-size: 1.27rem;
	display: inline-block;
	font-weight: normal;
	
}

.inner-title h1 span {
	font-size: 2rem;
	letter-spacing: 1.7em;
	text-transform: uppercase;
    margin-bottom: 100px;
    display: inline-block;  
}

/* Inner end */


.default-section {
	padding: 135px 0;
}
.btn {
	/* общие стили для всех кнопок */
	display: inline-block;
	/* font-size: 1.17rem; */
	letter-spacing: .2em;
	text-transform: uppercase;
    /* font-family: 'mullerregular', sans-serif; */
    color: #111;
    border: 2px solid transparent;
    cursor: pointer;
}
.btn-default {
	/* стили для черной кнопки */
	padding: 0 20px;
	font-size: .87rem;
	line-height: 2.33rem;
}
.btn-large {
	/* для кнопок серых и больших */
	padding: 0 40px;
	font-size: .93rem;
	line-height: 2.67rem;
}
.btn-small {
	 /* для мал кнопок*/
	padding: 0 15px;
	font-size: .73rem;
	line-height: 2rem;
}

.title {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #111;
	letter-spacing: .5em;
	font-weight: normal;
	margin-bottom: 75px;
	/* Add Dosis regular */
}
.title.title-light {
	letter-spacing: .3em;
	/* add Dosis light font-family */
}
.title.title-white {
	color: #fff;
	letter-spacing: .3em;
	/* add Dosis light font-family*/
}
/* Default component end */
/* Custom style start */

/* ===== About studio start ===== */
/* font-family: Open Sans light; */
.about-studio .row + .row {
	margin-top: 100px;
}
.team-item-info span {
	display: block;
}

blockquote span {
    font-size: .73rem;
    line-height: 2.53rem;
    letter-spacing: .2em;
    text-transform: uppercase;
}

blockquote p {
	font-size: 1.6rem;
    line-height: 2.53rem;
    /* font-family: Open Sans light; */
}

.about-studio .default-text {
    line-height: 1.73rem;
}


.about-studio .team-item-info {
	letter-spacing: .4em;
	text-transform: uppercase;
}

.about-studio .team-item-name {
	margin: 30px 0 15px;
}
.about-studio .team-item-role {	
	font-size: .8rem;
	letter-spacing: .4em;
}

/* ===== About studio end ===== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}
.lets-talk-img {
	margin-top: -32px;
}

.lets-talk .title {
	line-height: 1.73rem;
	margin-bottom: 30px;
}

.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
	line-height: 1.73rem;
	margin-bottom: 40px;
}
/* ===== Lets talk end ===== */
/* ===== Why choose us start ===== */
.why-choose-us .row + .row {
	margin-top: 75px;
}

.why-choose-us .default-text {
	line-height: 1.73rem;
}

.why-choose-us .advantage-icon {
	line-height: 3.67rem;
	margin-bottom: 30px; 
}

.why-choose-us .advantage-title {
	font-size: .93rem;
	letter-spacing: .4em;
	margin-bottom: 35px;
	text-transform: uppercase;
}

/* ===== Why choose us end ===== */
/* Custom style end */